<html>
    <head>
        <title>Query Results</title>
        <style>
            body {
                margin:50px 0px; padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
                text-align:center; /* Hack for IE5/Win */
                }
            </style>
    </head>
    <body>
        <div>
            <h1>No Image found!</h1>
            <h3>Not here? Try another image.</h3>
                <form>
                    <INPUT TYPE="BUTTON" VALUE="Click Here" ONCLICK="window.location.href='http://www.artbybit.herokuapp.com'"> 
                </form>
        </div>
    </body>
</html>
